[Desktop Entry]
Type=Application
Version=1.0
Name=Back to the Browser Wars
Exec=ticklemonster
Comment=Send Internet Explorer back in time!
Icon=ticklemonster
Terminal=false
Categories=Game;ArcadeGame;
